@import 'css-reset-and-normalize-sass/scss/flavored-reset-and-normalize';

$background-color: #fff;

body {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    padding: 12px;
}
